*{
    margin: 0;
    padding: 0;
}
.nav-buttons{
    background-color: #8EC5FC;
    width: 100%;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    height:50px;
    color: purple;
    font-size: 20px;
    font-family: "Comic Sans MS", "Comic Sans";
}
a.home-button{
    position: relative;
    top: 22%;
    text-decoration: none;
    left: 65%;
}
a.login-button{
    position: relative;
    top: 22%;
    text-decoration: none;
    left: 68%;
}
a.signup-button{
    position: relative;
    top: 22%;
    text-decoration: none;
    left: 72%;
}
a:active{
    color: beige;
}
a:hover{
    opacity: 60%;
}
div.thebody{
    margin: 20px;
    padding: 20px;
    font-family: "Comic Sans MS", "Comic Sans";
    font-size: 20px;
    text-align: justify;
    color: purple;
}